extends ../layout

block content
	h1 Result here.

	for resultItem in resultItems
		div.singleresult
			img(src=resultItem.img_url, class='resultImage')
			a(href=resultItem.url)
				h3 #{resultItem.title}
			//- p.hide #{resultItem.mbid}
			p.hide #{resultItem.type}
			p #{resultItem.artist_name}
			