extends ../layout

block content
	h1 Result here.

	for release in releaseGroups
		div.singleresult
			img(src=release.img_thumb_small, style='width: inherit; height: inherit; z-index:-1; position: absolute;')
			h3 #{release.title}
			p.hide #{release.mbid}
			p.hide #{release.type}
			p #{release.artist_name}
			